<div class="employee-list-container">
  <div class="logout">
    <button class="logout-button" type="button" (click)="logout()">Logout</button>
  </div>
  <h2>Employee List</h2>
  <div class="actions-add">
    <button class="add-button" (click)="navigateToAddEmployee()">Add Employee</button>
  </div>
  <div class="search-container">
    <input type="text" placeholder="Search by username or email" [(ngModel)]="searchUsernameOrEmail">
    <input type="text" placeholder="Search by group" [(ngModel)]="searchGroup">
    <button (click)="search()">Search</button>
  </div>
  <table>
    <thead>
      <tr>
        <th (click)="sort('username')">Username</th>
        <th (click)="sort('firstName')">First Name</th>
        <th (click)="sort('lastName')">Last Name</th>
        <th (click)="sort('email')">Email</th>
        <th (click)="sort('birthDate')">Birth Date</th>
        <th (click)="sort('basicSalary')">Basic Salary</th>
        <th (click)="sort('status')">Status</th>
        <th (click)="sort('group')">Group</th>
        <th (click)="sort('description')">Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let employee of filteredEmployees.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
        <td>{{ employee.username }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.birthDate | date:'MM/dd/yyyy' }}</td>
        <td>{{ employee.basicSalary | currency:'Rp' }}</td>
        <td>{{ employee.status }}</td>
        <td>{{ employee.group }}</td>
        <td>{{ employee.description }}</td>
        <td class="action-table">
          <button class="detail-button" (click)="viewDetail(employee)">Detail</button>
          <button class="edit-button" (click)="notify('edit', employee)">Edit</button>
          <button class="delete-button" (click)="deleteEmployee(employee)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <button class="pagination-prev-button" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <button class="pagination-next-button" (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= filteredEmployees.length">Next</button>
    <label>
      Items per page:
      <select class="pagination-item-per-page-dropdown" [(ngModel)]="itemsPerPage">
        <option *ngFor="let count of itemsPerPageOptions" [value]="count">{{ count }}</option>
      </select>
    </label>
  </div>

  <app-modal 
    [title]="modalTitle" 
    [message]="modalMessage" 
    [showModal]="showModal" 
    [color]="modalColor"
    (close)="closeModal()"
    >
  </app-modal>
</div>