.employee-list-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.employee-list-container h2 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 52px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

}

.search-container input {
  width: 40%;
  padding: 0.75rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  color: white;
  background-color: lightskyblue;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-controls button {
  padding: 5px 10px;
  margin: 0 5px;
}

.search-container button,
.detail-button,
.logout-button,
.add-button {
  padding: 0.75rem;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem 0;
}

.add-button:hover,
.detail-button:hover,
.pagination-prev-button:hover,
.pagination-next-button:hover,
.logout-button:hover,
.search-container button:hover {
  background-color: #0056b3;
}

.actions-add {
  margin-bottom: 5px;
  display: flex;
  justify-content: right;
}

.action-table {
  display: flex;
  justify-content: space-between;
}

.edit-button {
  padding: 0.75rem;
  background-color: #eab308;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem 0;
}

.delete-button {
  padding: 0.75rem;
  background-color: #dc2626;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem 0;
}

.edit-button:hover {
  background-color: #ca8a04;
}

.delete-button:hover {
  background-color: #991b1b;
}

.pagination-prev-button {
  padding: 0.75rem;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem 0;
  margin-right: 20px;
}

.pagination-next-button {
  padding: 0.75rem;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem 0;
  margin-right: 30px;
}

.pagination-item-per-page-dropdown {
  padding: 0.75rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logout {
  margin-bottom: 5px;
  display: flex;
  justify-content: right;
}