<div class="modal" *ngIf="showModal">
  <div class="modal-content" [style.borderColor]="color">
    <span class="close" (click)="onClose()">&times;</span>
    <h2>{{ title }}</h2>
    <p>{{ message }}</p>
    <button (click)="onClose()">OK</button>
  </div>
</div>