.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
}

.login-form {
    background-color: #fff;
    padding: 4rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: -webkit-fill-available;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem 0;
}

.login-form button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .login-form {
        padding: 1.5rem;
    }
}

.login-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.login-form label {
    font-size: 0.9rem;
    color: #555;
}

.text-required {
    color: red;
    font-size: smaller;
    padding-bottom: 10px;
}