<div class="login-container">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-title">Login Employee Management</div>
    <div>
      <label for="username">Username</label>
      <input id="username" type="text" formControlName="username" placeholder="Enter your username" />
      <div class="text-required" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
        Username is required
      </div>
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" placeholder="Enter your password" />
      <div class="text-required" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        Password is required
      </div>
    </div>
    <button type="submit">Login</button>
  </form>

  <app-modal [title]="modalTitle" [message]="modalMessage" [showModal]="showModal" [color]="modalColor"
    (close)="closeModal()">
  </app-modal>
</div>