<div class="container add-employee-container">
  <h2>Add Employee</h2>
  <form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div>
        <label for="username">Username</label>
        <input id="username" formControlName="username">
        <div class="input-required"
          *ngIf="addEmployeeForm.get('username')?.invalid && addEmployeeForm.get('username')?.touched">
          Username is required.
        </div>
      </div>
      <div>
        <label for="firstName">First Name</label>
        <input id="firstName" formControlName="firstName">
        <div class="input-required"
          *ngIf="addEmployeeForm.get('firstName')?.invalid && addEmployeeForm.get('firstName')?.touched">
          First Name is required.
        </div>
      </div>
      <div>
        <label for="lastName">Last Name</label>
        <input id="lastName" formControlName="lastName">
        <div class="input-required"
          *ngIf="addEmployeeForm.get('lastName')?.invalid && addEmployeeForm.get('lastName')?.touched">
          Last Name is required.
        </div>
      </div>
      <div>
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email">
        <div class="input-required"
          *ngIf="addEmployeeForm.get('email')?.invalid && addEmployeeForm.get('email')?.touched">
          Valid Email is required.
        </div>
      </div>
      <div>
        <label for="birthDate">Birth Date</label>
        <input id="birthDate" formControlName="birthDate" type="date" max="{{today}}">
        <div class="input-required"
          *ngIf="addEmployeeForm.get('birthDate')?.invalid && addEmployeeForm.get('birthDate')?.touched">
          Valid Birth Date is required.
        </div>
      </div>
      <div>
        <label for="basicSalary">Basic Salary</label>
        <input id="basicSalary" formControlName="basicSalary" min="0" type="number">
        <div class="input-required"
          *ngIf="addEmployeeForm.get('basicSalary')?.invalid && addEmployeeForm.get('basicSalary')?.touched">
          Basic Salary must be a number.
        </div>
      </div>
      <div>
        <label for="status">Status</label>
        <input id="status" formControlName="status">
        <div class="input-required"
          *ngIf="addEmployeeForm.get('status')?.invalid && addEmployeeForm.get('status')?.touched">
          Status is required.
        </div>
      </div>
      <div>
        <label for="group">Group</label>
        <input type="text" (input)="filterGroups($event)" placeholder="Search group">
        <select class="group-dropdown" id="group" formControlName="group">
          <option [selected]="group" *ngFor="let group of filteredGroups" [value]="group">{{ group }}</option>
        </select>
        <div class="input-required"
          *ngIf="addEmployeeForm.get('group')?.invalid && addEmployeeForm.get('group')?.touched">
          Group is required.
        </div>
      </div>
      <div>
        <label for="description">Description</label>
        <input id="description" formControlName="description">
        <div class="input-required"
          *ngIf="addEmployeeForm.get('description')?.invalid && addEmployeeForm.get('description')?.touched">
          Description is required.
        </div>
      </div>
    </div>
    <div class="form-buttons">
      <button type="submit">Save</button>
      <button type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>