.add-employee-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.add-employee-container h2 {
  text-align: center;
}

.add-employee-container form div {
  margin-bottom: 15px;
}

.add-employee-container form label {
  display: block;
  margin-bottom: 5px;
}

.add-employee-container form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.add-employee-container form .form-buttons {
  display: flex;
  justify-content: space-between;
}

.add-employee-container form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-employee-container form button:hover {
  background-color: #0056b3;
}

.add-employee-container form div div {
  margin-top: 5px;
}

.input-required {
  color: red;
  font-size: smaller;
  padding-bottom: 5px;
}

.group-dropdown {
  width: 100%;
  padding: 0.75rem;
  margin: 3px 0px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}