.employee-detail-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.employee-detail-container h2 {
  text-align: center;
}

.employee-detail-container p {
  margin: 10px 0;
}

.employee-detail-container button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.employee-detail-container button:hover {
  background-color: #0056b3;
}