<div *ngIf="employee" class="employee-detail-container">
  <h2>Employee Details</h2>
  <p><strong>Username:</strong> {{employee.username}}</p>
  <p><strong>First Name:</strong> {{employee.firstName}}</p>
  <p><strong>Last Name:</strong> {{employee.lastName}}</p>
  <p><strong>Email:</strong> {{employee.email}}</p>
  <p><strong>Birth Date:</strong> {{employee.birthDate | date}}</p>
  <p><strong>Basic Salary:</strong> {{formatCurrency(employee.basicSalary)}}</p>
  <p><strong>Status:</strong> {{employee.status}}</p>
  <p><strong>Group:</strong> {{employee.group}}</p>
  <p><strong>Description:</strong> {{employee.description}}</p>
  <button (click)="goBack()">OK</button>
</div>